{% extends "base.twig" %}

{% block content %}
    {% for post in design %}
    <div class="card" id="{{post.slug}}">
        <div class="card-header">
            <div>
                <a href="{{ post.link }}">
                    <h2>{{post.title}}</h2>
                </a>
                <p>Project : {% for term in post.terms('tags') %}
                    {{term.name}}.
                    {% endfor %}</p>
                <p>{{ post.preview }}</p>
            </div>
            <div>
                <a href="{{ post.link }}" class="btn-bee invert">More Information</a>
                <p>{{entry.iconList}}</p>
                <p>URL: <a href="{{post.external_url}}" target="_blank">{{post.title}}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for post in charity %}
    <div class="card" id="{{post.slug}}">
        <div class="card-header">
            <div>
                <a href="{{ post.link }}">
                    <h2>{{post.title}}</h2>
                </a>
                <p>Project : {% for term in post.terms('tags') %}
                    {{term.name}}.
                    {% endfor %}</p>
                <p>{{ post.preview }}</p>
            </div>
            <div>
                <a href="{{ post.link }}" class="btn-bee invert">More Information</a>
                <p>{{entry.iconList}}</p>
                <p>URL: <a href="{{post.external_url}}" target="_blank">{{post.title}}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
